<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887930857034-74u41kh06v1j8g3ongqvoq8s4kh3hdjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887930857034-74u41kh06v1j8g3ongqvoq8s4kh3hdjg</string>
	<key>API_KEY</key>
	<string>AIzaSyDozlHahgGEy_UygmZwAsOhHSznawsMxUc</string>
	<key>GCM_SENDER_ID</key>
	<string>887930857034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fileManager</string>
	<key>PROJECT_ID</key>
	<string>my-web-app-cc2b0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-web-app-cc2b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887930857034:ios:1488b42b6fc898f2e628b3</string>
	<key>DATABASE_URL</key>
	<string>https://my-web-app-cc2b0-default-rtdb.firebaseio.com</string>
</dict>
</plist>